.btns{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.main-container{
    border: 1px solid lightblue;
    padding: 35px;
    margin: 25px;
    border-radius: 1ch;
}