table, td,tr,th{
    border: 1px solid black;
    margin: 20px;
}

th{
    padding: 15px;
}

td{
    padding: 15px;
}

.results-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 50px;
}

.return{
    margin: 25px;
    float: left;
}

.no-results{
    padding: 70px;
    color: lightgray;
    margin-top: 250px;
    font-size: xx-large;
}